# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleCryptographySln.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Coding\GitHub Repos\Practice\ConsoleCryptographySln\.idea\.idea.ConsoleCryptographySln\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
